<!DOCTYPE html>
<html>
<head>
	<title>Sign in</title>
</head>

<body class="text-center">
  
  <div id="clearance" class="sign-in" style="display: inline-block;">

	<div style="border: 2px solid lightgrey; border-radius: 0.5rem; max-width: 80vh; padding: 1rem;" class="form-group">
	  <h2><%= t(".title") %></h2>
	  <div class="text-left">
	    <%= render partial: '/sessions/form' %>
	  </div>
	</div>

  </div>
</body>
</html>
