<div style="display: flex; justify-content: space-between; max-width: 98%">
	<div>
		<%= link_to "Back", listings_path %>
	</div>

	<div>
		<%= link_to "New Listing", new_listing_path, :class => "btn btn-primary" %>
	</div>
</div>