<!DOCTYPE html>
<html>
<head>
  <title>Sign up</title>
</head>
<body class="text-center">

  <div id="clearance" class="sign-up" style="display: inline-block;">
    <div style="border: 2px solid lightgrey; border-radius: 0.5rem; max-width: 80vh; padding: 1rem;" class="form-group">
      
    <h2><%= t(".title") %></h2>

      <div class="text-left">
        <%= form_for @user do |form| %>
          <%= render partial: '/users/form', object: form %>
        <% end %>
      </div>

    </div>
  </div>

</body>
</html>